p {
    font-family: roboto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .video-title {
    font-size: 30px;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 26px;
    margin-bottom: 5;
  }
  .views {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
  }
  .video-arthor {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .paragraaf {
    color: rgb(96, 96, 96);
    font-size: 14px;
    width: 300px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .shop-now:hover {
    text-decoration: underline;
    cursor: pointer;
  }
